/* Additional padding due to navbar*/
body {
  padding-top: 60px;
}

/*
 * Affix and center
 */

 .container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container  {
    width: 700px;
  }
}

/*
 * Get dividers to span pages on phones
 */

hr {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  hr {
    margin-right: 0;
    margin-left: 0;
  }
}

/*
 * Log in page
 */

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-login-heading,
.form-login  {
  margin-bottom: 10px;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Fixtures page
 */

.matchRow a .row,
.matchRow a .row * {
  text-decoration: none;
}
.matchRow a .matchText,
.matchRow a .matchText * {
  color: #000;
}
.matchRow  .col-xs-1{
  padding: 0;
}
.matchRow {
  padding-top: 10px;
  margin-bottom: 10px;
}

/*
 * Match page
 */

 #updateRes  .alert,
 #updatePrediction .alert{
  margin-top: 15px;
}

/*
 * Flags
 */
 
.team-flag {
  width: 45px;
  height: 45px;
  background-size: 225px 495px;
  vertical-align: middle;
}

[class*=" flag-"],[class^=flag-] {
    display: inline-block;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(http://img.uefa.com/imgml/2016/euro/flags/flags_sprite_empty_64x64.png)
}

.flag-AUT {
    background-position: 75% 0
}

.flag-BEL {
    background-position: 0 10%
}

.flag-CRO {
    background-position: 100% 10%
}

.flag-CZE {
    background-position: 25% 20%
}

.flag-DEN {
    background-position: 50% 20%
}

.flag-ENG {
    background-position: 75% 20%
}

.flag-FIN {
    background-position: 0 30%
}

.flag-FRA {
    background-position: 25% 30%
}

.flag-GER {
    background-position: 100% 30%
}

.flag-HUN {
    background-position: 50% 40%
}

.flag-ITA {
    background-position: 25% 50%
}

.flag-MKD {
    background-position: 75% 60%
}

.flag-NLD {
    background-position: 25% 70%
}

.flag-POL {
    background-position: 100% 70%
}

.flag-POR {
    background-position: 0 80%
}

.flag-RUS {
    background-position: 50% 80%
}

.flag-ESP {
    background-position: 25% 90%
}

.flag-SCO {
    background-position: 75% 100%
}

.flag-SUI {
    background-position: 50% 90%
}

.flag-SVK {
    background-position: 75% 90%
}

.flag-SWE {
    background-position: 100% 90%
}

.flag-TUR {
    background-position: 0 100%
}

.flag-UKR {
    background-position: 25% 100%
}

.flag-WAL {
    background-position: 50% 100%
}

